
.main-about {

    width: 100vw;
    height: 64.8vh;
    display: flex;
    justify-content: center;
    align-items: center;



}

.container-about {

    text-align: center;
    text-indent: .5rem;
    text-overflow: clip;
    height: 10vh;
    width: 100vw;
    color: rgb(99, 79, 75);
    font-size: 1.5rem;
    flex-wrap: wrap;


}

.container-list {


    height: 15vh;
    width: 100vw;
    display: flex;
    text-align: justify;
    font-size: 1.1rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: url(../assets/ponto1.png);
    color: rgb(99, 79, 75);
}

.container-list h4 {
    font-size: 20px;
    color: #686fbe;
    height: 15vh;
    margin: 1rem;
    padding: 1rem;
}

.container-child-1 {
    padding: 1rem;
    height: 20vh;
    width: 20vw;
    justify-content: flex-start;
}

.container-child-2 {

    width: 20vw;
    height: 20vh;

}

.container-img {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 40vh;

}

.container-img p {

    color: #000000e1;
    font-size: 1.3rem;
    text-indent: 1rem;
    height: 30vh;

}

.img-eu {
    height: 30vh;
    width: 15vw;


}

.img-eu img {

    border-radius: 100%;
    height: 30vh;
    width: 15vw;

}

.link-cv-sobre{
    display: none;
}

@media (max-width: 550px) {


    .main-about {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

    }

    .container-about {
       
        font-size: 4px;
        justify-content: center;

    }

    .container-list {
        display: none;
    }

    

    .containe-dig {

        height: 5vh;
        width: 90vw;
        
    }

    .container-img {
        display: flex;
        width: 100vw;
        height: 30vh;
    }

    .container-img img{
        display: none;
    }

    .container-img p{
        text-align: right;
        flex-direction: row;
        font-size: 17px;
        width: 90vw;
        margin: 3px;
        padding: 3px;
       
    }


}