header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: #ffbcb3;


    figure {

        justify-content: flex-start;
        align-items: flex-start;
        margin: 1rem;
        width: 50vw;
        height: 30vh;


    }


    .logo {
        padding: 10px;
        margin: 10px;
        align-items: center;
        height: 30vh;
    }

    h2 {


        text-align: start;
        font-size: 20px;
        color: #fffffe;
        width: 30vw;
        height: 20vh;
        padding: 1.25rem;
        margin-right: 40px;
    }



    .container {

        margin: 20px;
        padding: 20px;
    }

    a {
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        color: #fffffe;
        width: 4vw;
        height: 4vh;
        text-align: center;

    }

    a:hover {

        background-color: #c29f99;
        border-radius: 50%;
        opacity: 50%;
        color: #ffe1dc;
    }

    .button-cv {

        background-color: #eb877a;
        border: none;
        height: 5vh;
        width: 8vw;
        font-size: 1em;


    }

    .link-cv:hover {
        background-color: none;
        color: white;
        font-weight: bold;
    }

    .link-cv {
        color: black;
        border-radius: 20%;
        cursor: pointer;
    }


}

@media (max-width: 550px) {

    header {

        
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        height: 15vh;
        background-color: #ffbcb3;




        figure {
            height: 20vh;
        }


        .logo {
            
            height: 20vh;
            padding: 5px;
        }

        .container {

            text-align: start;
            font-size: 15px;
            width: 50vw;
            margin: 5px;
            padding: 5px;
            color: #fffffe;

        }

        .link-cv {
            display: none;
        }

    }
}