

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15vh;
        background-color: #ffbcb3;
        padding: 0 2rem;

        figure {
            display: flex;
            align-items: center;
            height: 100%;
            width: auto;
            margin: 0;
        }

        .logo {
            object-fit: contain;
            height: 100%;
            width: auto;
            max-width: 500px;
            object-fit: contain;
        }

        .container {
            display: flex;
            gap: 20px;
            margin: 0;
            padding: 0;
        }

        a {
            padding: 10px;
            text-decoration: none;
            color: #fffffe;
            font-size: 1.1rem;
            transition: 0.3s;
            
            &:hover {
                color: #c29f99;
            }
        }

        .button-cv {
            background-color: #eb877a;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
            
            .link-cv {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }

            &:hover {
                background-color: #c29f99;
            }
        }
    }

    @media (max-width: 768px) {
        header {
            height: auto;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;

            figure {
                height: 10vh;
            }

            .container {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
