

footer{

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffbcb3 ;
    height: 20vh;
    width: 100vw;
    
    img {
        height: 20vh;
        width: 10vw;
      
    }

    .logo-footer {
        margin: 1.5rem;

    }


}

@media (max-width: 550px){

    

    .footer-repo{
        height: 30vh;
        align-items: center;
        justify-content: space-evenly;
    }

    .footer-repo img{
        
        height: 20vh;
        width: 20vw;
    }


}