

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700; /* Negrito elegante */
}


.logo, .logo-footer {
    font-family: 'Playfair Display', serif;
}