@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes digitar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }

}




main {
    display: flex;
    background-image: url(./fundo-main.png);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;

    section {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100vw;
        height: 60vh;
        flex-wrap: wrap;


    }

    section h1 {
        text-align: center;
        padding: 1.5rem;
        color: rgb(99, 79, 75);
        font-size: 30px;
        width: 60vw;
        height: 5vh;

    }

    section p {

        justify-content: center;
        align-content: center;
        text-align: center;
        color: #000000cb;
        font-size: 1.5rem;
        height: 30vh;
        width: 60vw;
        margin: 10px;
        padding: 5px;
    }

    .type-out {
        overflow: hidden;
        width: 0rem;
        white-space: nowrap;
        border-right: .15em;
        font-size: 1.6rem;
        animation: digitar steps(20, end) 2s forwards;


    }

    .containe-dig {
        display: inline-block;

    }

    .imgMinha {
        border-radius: 30%;
        height: 50vh;
        width: 25vw;



    }

    button {
        background-color: #c87d72;
        border: none;
        color: #fff;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        animation: pulse 2s infinite;
    }



    button:hover {
        animation: none;
    }


}

.secao2 {

    color: rgb(99, 79, 75);
    flex-direction: row;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 40vh;
}

.projetos {


    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;


}

.projetos img {
    margin: 1.5rem;
    padding: 1rem;
    height: 30vh;
    width: 20vw;
    border-radius: 20%;
    border: #46312e solid;
}

.projetos img:hover {
    transform: scale(1.2);
}

@media (max-width: 550px) {

    main {
       
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;

        section {
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
           
        }

        .sect-repo {
            display: flex;
            
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            height: 80vh;
        }


        .text-repo {
           
            height: 50vh;
            width: 100vw;
            font-size: 17px;
            margin: 10px;
        }

        .button-repo {
            display: none;
        }

        .container-repo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 23vh;
            width: 100vw;
        }

        .imgMinha {

            height: 20vh;
            width: 50vw;
            margin: 50px;

        }

        .secao2 {
            display: none;
        }

    }


}